# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
DATABASE_NAME=indian_kanoon_cache

# JWT Configuration
JWT_SECRET_KEY=83d7492eb03859731a3f8a760a31be552485ee655b31ea16d643866996024522

# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sonukumarpaw@gmail.com
SMTP_PASSWORD=aeng kswk mqmo phrc
FROM_EMAIL=sonukumarpaw@gmail.com
FROM_NAME=Indian Kanoon Legal App


# Gemini API Configuration
GEMINI_API_KEY=AIzaSyAdJzafw5kQSIs-Zm69ovEHhIQVIZaSfHI

